.backgroundScreen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(115, 125, 134);
}

.fullScreen{
    width: 30.0rem;
    height: 55.0rem;
    background-color: white;
    padding: 2.4rem;
    border-radius: 1.6rem;
}
.barraPesquisa input{
    padding: .8rem;
    border-radius: 2.6rem;
    border: 0.02rem solid;
    width: 100%;
    height: 3.0rem;
}

.atividades{
    margin-top: 1.6rem;
    
}