.tarefa{
    margin-top: 1.0rem;
    display: flex;
    padding: .6rem;
    /* gap: 1.6rem; */
    justify-content: space-around;
    align-items: center;
    border: 0.02rem solid;
}
.nomeTarefa{
    display: flex;
    flex-direction: column;
}

.dataTarefa{
    font-size: 1.4rem;
    color: rgb(99, 99, 99);
}

.statusTarefa{
    width: 2.0rem;
    height: 1.5rem;
    background-color: green;
    border-radius: 1.6rem;
}